<%= form_with model: @link, class: 'border border-primary rounded w-3' do |form| %>
  <div class='m-3'>
    <div class='form-row align-items-center'>
      <div class='col-7'>
        <%= form.text_field :source_url, id: "link_source_url-#{@link.id}", class: 'form-control', placeholder: 'Enter destination' %>
      </div>
      <div class='col'>
        <div class='form-check form-check-inline'>
          <%= form.check_box :active, id: "link_active-#{@link.id}", class: 'form-check-input' %>
          <%= form.label "active-#{@link.id}", 'Active?', class: 'form-check-label' %>
        </div>
      </div>
      <% unless @link.new_record? %>
        <div class='col'>
          <%= link_to 'Delete Link', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
        </div>
      <% end %>
    </div>  
    <hr />
    <% unless @link.new_record? %>
      <div class='form-group'>
        <%= form.label "short_url-#{@link.id}", 'Short Url' %>
        <%= form.text_field :short_url, id: "link_short_url-#{@link.id}", class: 'form-control', disabled: true %>
        <div class="tags buttons"></div>  
      </div>
      <div class='form-group'>
        <%= form.label "short_code-#{@link.id}", 'Short Code' %>
        <%= form.text_field :short_code, id: "link_short_code-#{@link.id}", class: 'form-control', disabled: true %>
      </div>  
      <div class='form-group'>
        <%= form.label "hits-#{@link.id}", 'Hits' %>
        <%= form.text_field :hits, id: "link_hits-#{@link.id}", class: 'form-control', disabled: true %>
        <b>(This will update in real time)</b>
      </div>  
    <% end %>
    <div class='form-group'>
      <%= form.submit %>
    </div>  
  </div>
<% end %>
