<%= form_with model: @link do |form| %>
  <p>
    <%= form.label :source_url %>
    <%= form.text_field :source_url, id: :link_source_url %>
  </p>
  <p>
    <%= form.label :active %>
    <%= form.check_box :active, id: :link_active %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
